- lambda functions is also a kind of functions representations

- More efficient way

In [1]:
def summ(num):
    return(num+10)

summ(10)

# the function name is summ
# the variable name is num
# the return output is num+10

20

In [ ]:
<function_name>=lambda <variable_name>:<return output>

In [3]:
summ=lambda num:num+10
summ(20)

30

In [8]:
cube=lambda num:(num*num*num)
cube(20)

8000

Two arguments

In [9]:
def add(n1,n2):
    return(n1+n2)
add(100,200)

300

In [10]:
add=lambda n1,n2:n1+n2
add(100,200)

300

In [15]:
avg=lambda n1,n2,n3:(n1+n2+n3)/3
avg(100,200,300)

200.0

In [13]:
def add(n1,n2):
    return(n1+n2,n1*n2)
add(100,200)

(300, 20000)

In [17]:
def avg(n1,n2,n3=300):
    return((n1+n2+n3)/3)
avg(100,200)

200.0

In [18]:
avg=lambda n1,n2,n3=300:(n1+n2+n3)/3
avg(100,200)

200.0

$if-else$

In [19]:
def Max(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)

Max(100,200)

200

In [ ]:
lambda <v1,v2,v3,...>: <output>

In [22]:
Max=lambda n1,n2:n1 if n1>n2 else n2
max(100,200)

200

In [25]:
list1=['hyd','mumbai','chennai']
list2=[]
for i in list1:
    list2.append(i.capitalize())
    
list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Mumbai', 'Chennai']

$map$

In [ ]:
list(map(lambda <variable>:<output>,<iterator>))

In [26]:
list1=['hyd','mumbai','chennai']
list2=list(map(lambda i : i.capitalize(),list1))

In [ ]:
l1=[1,2,3,4]
l2=[1,4,9,16]

In [28]:
l1=[1,2,3,4]
list(map(lambda i : i*i,l1))

[1, 4, 9, 16]

In [29]:
l2=[1,4,9,16]
list(map(lambda i : i*i,l2))

[1, 16, 81, 256]

In [30]:
l1=['hyder#abad','mum#bai','chenn#ai','Blr','pune']
l2=[]
for i in l1:
    if'#' in i:
        l2.append

SyntaxError: incomplete input (256395100.py, line 2)

$filter$

In [32]:
l1=['hyder#abad','mum#bai','chenn#ai','Blr','pune']
list(map(lambda i : '#' in i, l1))

[True, True, True, False, False]

In [34]:
l1=['hyder#abad','mum#bai','chenn#ai','Blr','pune']
list(filter(lambda i : '#' in i, l1))

['hyder#abad', 'mum#bai', 'chenn#ai']

In [ ]:
map means map the input values to output
                    i              i*i
                    i              i.capitalize()
                    i              if'#' in i