In [ ]:
num1=10
num2=20
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

Input Method

In [ ]:
input()

In [ ]:
input("enter a number:")

In [ ]:
input("enter a number:")

In [ ]:
num1=input("enter a number1")
num2=input("enter a number2")
num1+num2

In [ ]:
'100'+'200'

In [ ]:
num1 = 10
type(num1)

num2=input("enter a number:")
type(num2)

In [ ]:
num1=int(input("enter a number1: "))
num2=int(input("enter a number2: "))
print(f"the additon of {num1} and {num2} is {num1+num2}")

In [ ]:
num1=int(input("enter a number1: ")) 
num2=int(input("enter a number2: "))
add= int(num1)+int(num2)
print(f"the additon of {num1} and {num2} is {add}")

eval:evaluate the number automatically based on original data type

In [ ]:
num1=eval(input("enter a number1: ")) 
num2=eval(input("enter a number2: "))
add= num1+num2
print(f"the addition of {num1} and {num2} is {add}")

In [1]:
num1=eval(input("enter a number1: ")) 
num2=eval(input("enter a number2: "))
num3=eval(input("enter a number3: ")) 
add=n1+n2+n3
avg=add/3
print(f"the avarage of {n1},{n2} and {n3} is : {avg}")

enter a number1: 1
enter a number2: 2
enter a number3: 4

NameError: name 'n1' is not defined

In [2]:
num1=eval(input(" enter the salary")) 
num2=eval(input("tax_per "))
num3=eval(input("persentage of tax"))
multiply =num1*num2
avg = multiply/100

salary100000
tax_per 10
persentage of tax100

In [1]:
print ("========conversatiin between mother and daughter=========")
input ("Daughter: ")
input ("Mother: ")
input ("Daughter: ")
input ("Mother: ")
input ("Daughter: ")
input ("Mother: ")
print ("==============after they reach bus stop==================")
input ("conductor: ")
input ("Mother: ")
input ("conductor: ")
input ("Mother: ")
input ("conductor: ")
km=input ("Mother: ")
input ("Mother: ")
fare=input ("conductor: ")
total=km*fare

========conversatiin between mother and daughter=========
Daughter: Hey mom
Mother: Hello beta
Daughter: Did you know government has implented free bus service
Mother: oh really!
Daughter: Will go to grand house
Mother: nice idea beta
==============after they reach bus stop==================
conductor: please show me your id cards
Mother: sorry id card is forgot
conductor: then pay the charge
Mother: how many charge of this rout
conductor: its charge by km and 2 rs per km
Mother: 2
Mother: 25 km long this rout
conductor: 25

TypeError: can't multiply sequence by non-int of type 'str'

Daughter :Did you know Government has implemented free bus service
Mother :Oh really

'Oh really'

In [6]:
print("you: how much the bill")
bill = eval(input("enter the bill"))
print("Bar:",bill)
print("You: I have only USD")
print("Bar: We accept INR only")
print("You: what should you do Now ")
print("Bar: Lets convert USD to INR")
INR=eval(input ("you :How many INR is equal to 1 USD "))
total=bill/INR
print(f"Bar: Give me {total} dollers")

you: how much the bill
enter the bill800
Bar: 800
You: I have only USD
Bar: We accept INR only
You: what should you do Now
Bar: Lets convert USD to INR
you :How many INR is equal to 1 USD 80
Bar: Give me 10.0 dollers

In [7]:
45/4 # 45 division 4
#it is the normal division

11.25

In [8]:
45%4 # 45 Modulus 4

1

In [9]:
45//4 # 45 floor division 4
# it will give the quotient

11

In [10]:
# condisional operation
# if-else

pattern - 1

if

In [12]:
10>5

True

In [13]:
10<5

False

In [ ]:
Whenever it is True do some thing 
If that is True then do some thing

In [ ]:
if <condition>:
    abc

In [14]:
name='python'
if name=='python':
    print("hello")
    
if True:
    print("hello")
    
if False:
    print("hello")
    
yes=True
if yes:
    print("hello")

hello
hello
hello

In [15]:
name='python'
if name=='python':
    a=10
    b=20
    c=a+b
    print(c)

30

In [21]:
#name='python'
if name=='python':
    print("hello")
    
# backspace till : and then do enter
# use space bar till you avoid the red colour
# enter tab
# error name: indentation

hello

In [17]:
if True:
    print("hello")

hello

In [18]:
if False:
    print("hello")

In [19]:
yes= True
if yes:
    print("hello")

hello

In [22]:
print(1)
print(2)
if True:
    print("hello")
    print('hai')
print("bye")

1
2
hello
hai
bye

In [25]:
print(1)
print(2)
#############################
if False:
    print("hello")
    print('hai')
####################################
print("bye")
#######################################
if True:
    print("hello")
    print('hai')

1
2
bye
hello
hai

$pattern-2$

**if-else**

In [29]:
name= 'python'

if name=='python':  #'python'=='Python' if false
    print("hello")
    
else:
    print("bye")

hello

In [ ]:
# wap ask the user enter a number from keyboard
# print if it is even number or odd number
num=eval(input("enter the number"))
if num%2==0:
    print("it is the even")
else