- Basic codes
- data types
- Type casting
- print
- Basic Codes
 - eval
 - input
-if-else condition
-try-except

In [2]:
num1=eval(input("enter the number1: "))
num2=eval(input("enter the number2: "))
print(num1+num2)

enter the number1: 100
enter the number2: 200
300

In [ ]:
def<function_name>():
    # write your code

In [3]:
def addition():
    num1=eval(input("enter the number1: "))
    num2=eval(input("enter the number2: "))
    print(num1+num2)

addition()

enter the number1: 20
enter the number2: 30
50

In [4]:
def addition1():
    num1=eval(input("enter the number1: "))
    num2=eval(input("enter the number2: "))
    print(num1+num2)

In [5]:
addition1()

enter the number1: 30
enter the number2: 40
70

- Defining function will not give the error
- You will identify the error when you call fuction only
- syntax error only will get , when define the function call

In [11]:
def avarage():
    n1 =eval(input("enter the number1: "))
    n2 =eval(input("enter the number2: "))
    n3 =eval(input("enter the number3: "))
    avg=(n1+n2+n3)/3
    out=round(avg,2)
    print(f"the avarage of {n1},{n2} and {n3} is {out}")

avarage()

enter the number1: 3
enter the number2: 4
enter the number3: 4
the avarage of 3,4 and 4 is 3.67

In [15]:
def avarage():
    bill =eval(input("enter bill amount: "))
    tip_per = eval(input("enter the tip %: "))
    tip_amount= bill*tip_per/100
    total_amount=bill+tip_amount
    print(f"the total bill is :{total_amount}")

bill_pay()

NameError: name 'bill_pay' is not defined

In [16]:
print("hello")
print()
def addition1():
    num1=eval(input("enter the number1: "))
    num2=eval(input("enter the number2: "))
    print(num1+num2)
    print(2)
    
print("good")
addition1()
print("bye")

hello

good
enter the number1: 20
enter the number2: 30
50
2
bye

In [3]:
def evenodd():
    num=eval(input("enter the number: "))
    if num%2==0:
        print(f"it is an even number: {num}")
    else:
        print(f"it is an odd number: {num}")
evenodd()

enter the number: 1
it is an odd number: 1

In [4]:
evenodd()

enter the number: 6
it is an even number: 6

In [7]:
def even_odd():
    try:
        num=eval(input("enter the number: "))
        if num%2==0:
            print("even")
        else:
            print("odd")
    except Exception as e:
            print(e)
            
even_odd()

enter the number: 10
even

In [12]:
import random
def even_odd():
    try:
        num=random.randint(10,90)
        if num%2==0:
            print(f"{num} is an even")
        else:
            print(f"{num} is an odd")
    except Exception as e:
            print(e)
            
even_odd()

59 is an odd

In [23]:
import random
def inout():
    n1=random.randint(1,10)
    n2= eval(input("enetr the number"))
    if n1==n2:
        print("in")
    else:
        print("out")
        
inout()

enetr the number5
out

- fuction with out arguments

- till now we developed some function

- inside brackets there is no value

- what ever you are provide inside bracket is called as argument or parameters

In [ ]:
def summ():
    num1=eval(input("enter the number1: "))
    num2=eval(input("enter the number2: "))
    add=num1+num2
    print(add)

In [25]:
def summ(num1,num2):
    add=num1+num2
    print(add)
    
summ(20,40)

60

In [26]:
def avarage(n1,n2,n3):
    avg=(n1+n2+n3)/3
    out=round(avg,2)
    print(f"the avarage of {n1},{n2} and {n3} is {out}")
    
avarage(40,60,40)

the avarage of 40,60 and 40 is 46.67

In [27]:
def summ(num1):
    num2=200
    add=num1+num2
    print(add)
    
summ(200)

400

In [28]:
num1=500
def summ(num1,num2):
    num1=2000
    add=num1+num2
    print(add)
num1 = 1000
summ(150,50)

2050

In [29]:
num1=500
num2=700
def summ(num1,num2):
    num1=2000
    add=num1+num2
    print(add)
num1 = num2
num2 = num1
summ(150,50)
add=num1+num2 
add

2050

1400

In [ ]:
# function will not return any values
# untill unless you mentiond return keyword inside the function

In [32]:
def bill_pay(bill,tip_per):
    tip_amount=bill*tip_per/100
    total_bill=bill+tip_amount
    print(f"the totel bill is:{tatal_bill}")
    
bill_pay(1000,10)

NameError: name 'tatal_bill' is not defined

Default argument

- default argument is the fix argument values
- is called default argument

In [7]:
def summ(num1=100,num2=200):
    print("num1:" ,num1)
    print("num2:" ,num2)
    add=num1+num2
    print(add)
    
summ()

num1: 100
num2: 200
300

In [ ]:
def summ():
    print("num1:" ,num1)
    print("num2:" ,num2)
    add=num1+num2
    print(add)
    
summ()

- default argument always in last

In [8]:
def avg(n1,n2,n3=100):
    average= (n1+n2+n3)/3
    print(average)
    
avg(200,300)

200.0

In [9]:
def avg(n1,n2=200,n3=100):
    average= (n1+n2+n3)/3
    print(average)
    
avg(200)

166.66666666666666

In [10]:
def avg(n1=500,n2=200,n3=100):
    average= (n1+n2+n3)/3
    print(average)
    
avg()

266.6666666666667

In [12]:
def avg(n1,n2,n3=100):
    average= (n1+n2+n3)/3
    print(average)
    
avg(100,500)

233.33333333333334

In [14]:
def bill_pay(bill,tip_per=10):
    tip_amount= bill*tip_per/100
    total_amount=bill+tip_amount
    print(f"the total bill is :{total_amount}")
    
bill_pay(1000)

the total bill is :1100.0

In [15]:
def bill_pay(tip_per=10):
    bill=1000
    tip_amount= bill*tip_per/100
    total_amount=bill+tip_amount
    print(f"the total bill is :{total_amount}")
    
bill_pay()

the total bill is :1100.0

In [19]:
def total_tax(salary=100000,tax_per=10):
    tax_pay=(salary*tax_per)/100
    print(f"total_tax is{tax_pay}")
total_tax()

total_tax is10000.0

In [22]:
def total_tax(salary,tax_per):
    tax_pay=(salary*tax_per)/100
    print(f"total_tax is{tax_pay}")
    
total_tax(100000,10)

total_tax is10000.0

Return Statment

In [23]:
def tax1(salary,tax_per=10):
    tax_pay=(salary*tax_per)/100
    return(tax_pay)

tax_pay=tax1(10000)
print(tax_pay)

1000.0

In [24]:
def tax1(salary,tax_per=10):
    tax_pay1=(salary*tax_per)/100
    return(tax_pay1,salary)

tax_pay1,salary=tax1(10000)

print(tax_pay1)
print(salary)

1000.0
10000

In [ ]:
def summavg(num1,num2,num3):
    total = (num1+num2+num3)
    avrage=summ/
    return()

In [25]:
add=0

def summ(n1,n2):
    add=n1+n2
    return add
add=summ(10,20)
print(add)

30