In [1]:
str1= 'hai how are you'
l1=str1.split()
l1

['hai', 'how', 'are', 'you']

In [2]:
# now we have list of elements are there
# we want to join
l1

['hai', 'how', 'are', 'you']

In [5]:
' '.join(l1)

'hai how are you'

In [7]:
s=''
for i in l1:
    s=s+i
s

' haihowareyou'

In [9]:
names=['ramesh','suresh','sathish']
age=[20,25,30]

for i in range(len(names)):
    print(names[i],age[i])

ramesh 20
suresh 25
sathish 30

$zip$

In [12]:
for i,j in zip(names,age):
    print(f"{i} age is {j}")

ramesh age is 20
suresh age is 25
sathish age is 30

In [11]:
def avg(n1,n2,n3):
    return(n1+n2+n3,(n1+n2+n3)/3)

o1,o2=avg(n1,n2,n3)
o1
o2

NameError: name 'n1' is not defined

In [ ]:
num1,num2=10,20
age=

In [ ]:
names=['ramesh','suresh','sathish']
age=[20,25,30]

if both are together why two lists ===== Dictionary

In [ ]:
{<key>:<value>}

In [13]:
d1={"ramesh":20,"suresh":25,"sathish":30}
d1

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

In [16]:
d2={20:"ramesh",25:"suresh",30:"sathish"}
d2

{20: 'ramesh', 25: 'suresh', 30: 'sathish'}

In [18]:
d3={20:20}
d3

{20: 20}

In [19]:
d4={'$':30}
d4

{'$': 30}

In [20]:
d5={'names':['R','S','A']}
d5

{'names': ['R', 'S', 'A']}

In [21]:
d6={['R','S','A']:'names'}
d6

TypeError: unhashable type: 'list'

In [22]:
d7={('R','S','A'):'names'}
d7

{('R', 'S', 'A'): 'names'}

In [23]:
d8={'names':('R','S','A')}
d8

{'names': ('R', 'S', 'A')}

$watch$ $only$ $keys$

In [25]:
d2={20:"ramesh",'suresh':30}
max(d2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
d2={20:"ramesh",25:"suresh",30:"sathish"}
max(d2)

30

In [27]:
d1={"ramesh":20,"suresh":25,"sathish":30}
max(d1)

'suresh'

In [28]:
d3={"ramesh":20,"suresh":25,"sathish":30}
len(d3)

3

In [29]:
sorted(d3)

['ramesh', 'sathish', 'suresh']

In [31]:
for i in reversed(d3):
    print(i)

sathish
suresh
ramesh

In [32]:
d1={"ramesh":20,"suresh":25,"sathish":30}
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
d2={20:"ramesh",25:"suresh",30:"sathish"}
sum(d2)

75

In [ ]:
l1=['Ramesh','suresh','sathish']
l2=

In [1]:
d1={"ramesh":20}
d2={'syresh':30}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
d1={"Ramesh":20,"Suresh":25,"Satish":30}
'Ramesh' in d1
20 in d1

False

In [3]:
for i in d1:
    print(i)

Ramesh
Suresh
Satish

In [6]:
d1={"Ramesh":20,"Suresh":25,"Satish":30}
# Normal index will not work for dictionary
#d1[0]  # Error

# If you want retrive the value, by using key we can get
d1['Ramesh']
d1['Suresh']
d1['Satish']

d1[i]

for i in d1:
    print(i,d1[i])

Ramesh 20
Suresh 25
Satish 30

In [10]:
names=['Ramesh','Suresh','Satish']
age = [20,25,30]
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [12]:
d1={"Ramesh":20,"Suresh":25,"Satish":30}
for i in d1:
    print(f"{i} age is {d1[i]}")

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [1]:
d1={"Ramesh":20,"Suresh":25,"Satish":30}

for i in d1:
    print(i)     # only keys
    
for i in d1:
    print(i,d1[i])   # keys and values

Ramesh
Suresh
Satish
Ramesh 20
Suresh 25
Satish 30

In [17]:
d1,l1,s1={},[],''
s1=s1+'a'
s1=s1+'b'
s1=s1+'c'
s1

'abc'

In [18]:
l1=[]
l1.append(10)
l1.append(20)
l1

[10, 20]

In [21]:
d1={}
d1['even']=[20,30,40]
d1['odd']=[31,33]
d1

{'even': [20, 30, 40], 'odd': [31, 33]}

In [22]:
d1={}
name=input("enter the name: ")
city=input("enter the city: ")
age=eval(input("enter the age: "))
d1['NAME']=name
d2['CITY']=city
d3['AGE']=age
d1

enter the name: gaurav
enter the city: nashik
enter the age: 26

NameError: name 'd3' is not defined

In [30]:
import random

even_list,odd_list,d1=[],[],{}

for i in range(10):
    num=random.randint(10,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
d1['Even']=even_list
d1['odd']=odd_list
d1

{'Even': [32, 94, 16, 18, 60], 'odd': [25, 27, 53, 57, 33]}

In [32]:
# word frequency
s1='hello how are you, hello how im good, hello how what are you doing'
#{'hello':3,'how':4,.....}

l1=s1.split()
l2=[]
for i in l1:
    if i not in l2:
        print(i,l1.count(i))
        l2.append

hello 3
how 3
are 2
you, 1
hello 3
how 3
im 1
good, 1
hello 3
how 3
what 1
are 2
you 1
doing 1

In [35]:
s1='hello how are you, hello how im good, hello how what are you doing'
#{'hello':3,'how':4,.....}

l1=s1.split()
l2=[]
d1={}
for i in l1:
    if i not in l2:
        d1[i]=l1.count(i)
        l2.append(i)
d1

{'hello': 3,
 'how': 3,
 'are': 2,
 'you,': 1,
 'im': 1,
 'good,': 1,
 'what': 1,
 'you': 1,
 'doing': 1}

In [37]:
d1={}
d1['hello']=3
d1[i]=l1.count(i)

In [38]:
d1={'fruites':['apple','banana']}
d1['fruites'][0],d1['fruites'][1]

('apple', 'banana')

In [40]:
d1={'fruites':[{'apple':50},{'banana':20}]}
d1['fruites']
d1['fruites'][1]
d1['fruites'][1]['banana']

20

In [45]:
d1={'fruites':[{'apple':[50,150,300]},{'banana':20}]}
d1['fruites'][0]['apple'][2]

300

In [49]:
d1={'fruites':
     [{'apple':[{50:'normal',
                150:'average',
                300:'good'}]},
     {'banana':20}]}
d1['fruites'][0]['apple'][0][150]

'average'

In [ ]:
d1={'fruites':
   [{'apple':[{50:
              [
                  {'normal':[100,300,400]
                  }
              ]
             }]}]}

$Methodes$

In [52]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [ ]:
keys values items

In [53]:
d1={'ramesh':20,'suresh':25,'piyush':27}
d1

{'ramesh': 20, 'suresh': 25, 'piyush': 27}

In [54]:
d1.keys()

dict_keys(['ramesh', 'suresh', 'piyush'])

In [55]:
d1.items()

dict_items([('ramesh', 20), ('suresh', 25), ('piyush', 27)])

In [57]:
d1.keys()
type(d1.keys())

dict_keys

In [56]:
list(d1.keys())[0].lower()

'ramesh'

In [58]:
list(d1.keys())

['ramesh', 'suresh', 'piyush']

In [ ]:
clear
copy 
get
pop
popitem

In [60]:
list1.clear()
list1

l1=['A','B','C']
l2=l1.copy()
# l1.clear()
l1,l

NameError: name 'list1' is not defined

In [61]:
d1={'ramesh':20,'suresh':25,'piyush':27}
d1.clear()
d1

{}

In [ ]:
pop
popitem
fromkeys
setdefault
update

In [3]:
d1={'ramesh':20,'suresh':25,'piyush':27}
d1.pop('ramesh')
d1

{'suresh': 25, 'piyush': 27}

In [5]:
d1={'ramesh':20,'suresh':25,'piyush':27}
d1.popitem()
d1

{'ramesh': 20, 'suresh': 25}

$get$

In [6]:
d1={'ramesh':20,'suresh':25,'piyush':27}
d1.get('ramesh')

20

In [7]:
d1['ramesh'] # by reference as a key you an get the value

20

$update$

In [9]:
d1={'ramesh':20}
d2={'suresh':30}
d1.update(d2)
d1

{'ramesh': 20, 'suresh': 30}

In [ ]:
d1={'ramesh':20}
d2={'suresh':30}
d1.update(d2)
d1