In [1]:
python part-1

- bsic python codes

- packages

- Conditonal statement

-Try-Exception

- Functions
  -function with out arguments
  -function with arguments
========================================
  -Default parameter
  -return

SyntaxError: invalid syntax (1394744764.py, line 1)

In [12]:
name = 'python'

# strings are in red colour: quotes
# variable are in black colour
# keywords are in green colour

In [13]:
type(name)

str

In [14]:
name1="python"
type(name1)

str

In [15]:
print(name) #careful with print statement

python

In [16]:
print(name1) #careful with print statement

python

In [17]:
name2='i like "python"'
print(name2)
# entire string in single quates
# python word is in double quotes

i like "python"

In [18]:
name3='i like "python"'
print(name3)

i like "python"

In [19]:
import random
random.randint()

TypeError: Random.randint() missing 2 required positional arguments: 'a' and 'b'

- type

- max

- min

- len

- reversed

- sorted

In [20]:
name='python'
max(name)

'y'

$ASCII$

- Americal standerd code

- A: 65
    
- a: 97

$ord-chr$

In [21]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('n')

(112, 121, 116, 104, 110)

In [22]:
max('python')

'y'

In [23]:
min('python')

'h'

In [24]:
chr(112),ord('p')

('p', 112)

In [25]:
str1='123-100'
max(str1)

'3'

In [26]:
ord('-'),ord('3')

(45, 51)

In [27]:
# how many ascii values are excisting
for i in range(33,128):
    print(i,'=',chr(i),end=',')

33 = !,34 = ",35 = #,36 = $,37 = %,38 = &,39 = ',40 = (,41 = ),42 = *,43 = +,44 = ,,45 = -,46 = .,47 = /,48 = 0,49 = 1,50 = 2,51 = 3,52 = 4,53 = 5,54 = 6,55 = 7,56 = 8,57 = 9,58 = :,59 = ;,60 = <,61 = =,62 = >,63 = ?,64 = @,65 = A,66 = B,67 = C,68 = D,69 = E,70 = F,71 = G,72 = H,73 = I,74 = J,75 = K,76 = L,77 = M,78 = N,79 = O,80 = P,81 = Q,82 = R,83 = S,84 = T,85 = U,86 = V,87 = W,88 = X,89 = Y,90 = Z,91 = [,92 = \,93 = ],94 = ^,95 = _,96 = `,97 = a,98 = b,99 = c,100 = d,101 = e,102 = f,103 = g,104 = h,105 = i,106 = j,107 = k,108 = l,109 = m,110 = n,111 = o,112 = p,113 = q,114 = r,115 = s,116 = t,117 = u,118 = v,119 = w,120 = x,121 = y,122 = z,123 = {,124 = |,125 = },126 = ~,127 = ,

In [28]:
'banana'>'banana' # 'B':67

False

In [29]:
'Banana'>'BAnana'

True

len

In [30]:
str1='i like python'
len(str1)

13

In [31]:
str2=''           # empty string
len(str2)

0

In [32]:
str3='  '
len(str3)          #it has two space

2

$reversed$

In [33]:
reversed('python')

# <output is stored inherently>
# we use the for loop to get the output

$in$

In [34]:
'p'in 'python'
'y'in 'python'
't'in 'python'
'h'in 'python'
'o'in 'python'
'n'in 'python'

for i in reversed('python'):
    print(i)

n
o
h
t
y
p

In [35]:
s1='apple'
for i in s1:
    print(i)

a
p
p
l
e

$sorted$

In [36]:
sorted('python')

# [104,110,111,112,116,121]

['h', 'n', 'o', 'p', 't', 'y']

In [37]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [38]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [39]:
str1='hello'
str2='python'    #concatenation

str1+' '+str2

'hello python'

In [40]:
str1='hello'
str2='python'

str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [41]:
str1='hello'
str2='python'

str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
str1='hello'
str2='python'

str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [2]:
str1='hello'
str2='python'

3*str2

'pythonpythonpython'

$index$

** in python index start with zero**

In [44]:
str1='python'
# -6 -5 -4 -3 -2 -1
#  p  y  t  h  o  n
#  0  1  2  3  4  5  
str1

'python'

In [45]:
str1[0],str1[1],str1[2],str1[3],str1[4],str1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [46]:
str1[0]
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]

for i in range(6):
    print(i)

0
1
2
3
4
5

In [47]:
str1='python'
for i in str1:
    print(i,end=' ')
    
str1='python'
for i in range(6):
    print(str1[i],end=' ')

p y t h o n p y t h o n

$in-range$

In [48]:
# wap print the index of a given string
# str1='python'
# o/p: the index of p is 0
#    : the index of y is 1

In [49]:
string1='python'
n=len(string1)
for i in range(n):
    print(f"the positive index of {string1[i]} is {i}")

the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5

In [50]:
string2='pymjmjithon'
n=len(string2)
for i in range(-n,0):
    print(f"the negative index of {string2[i]} is {i}")

the negative index of p is -11
the negative index of y is -10
the negative index of m is -9
the negative index of j is -8
the negative index of m is -7
the negative index of j is -6
the negative index of i is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [51]:
string5='hello how are you'
n=len(string5)
for i in range(n):
    print(f"the positive index of {string5[i]} is {i}")

the positive index of h is 0
the positive index of e is 1
the positive index of l is 2
the positive index of l is 3
the positive index of o is 4
the positive index of   is 5
the positive index of h is 6
the positive index of o is 7
the positive index of w is 8
the positive index of   is 9
the positive index of a is 10
the positive index of r is 11
the positive index of e is 12
the positive index of   is 13
the positive index of y is 14
the positive index of o is 15
the positive index of u is 16

In [52]:
string2='hello how are you'
n=len(string2)
for i in range(-n,0):
    print(f"the negative index of {string2[i]} is {i}")

the negative index of h is -17
the negative index of e is -16
the negative index of l is -15
the negative index of l is -14
the negative index of o is -13
the negative index of   is -12
the negative index of h is -11
the negative index of o is -10
the negative index of w is -9
the negative index of   is -8
the negative index of a is -7
the negative index of r is -6
the negative index of e is -5
the negative index of   is -4
the negative index of y is -3
the negative index of o is -2
the negative index of u is -1

In [53]:
s1='number'
n=len(s1)
for i in range(6):
    print(i,i-6)

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [54]:
# task is implement the same
# 1) positive index
# 2) negative index
# 3) posand neg together
# using while loop

In [55]:
# wap find the number of 'a' present in a given string
# s1='hello how are you i am good'
# ans:2
# count=0
# Idea: iterate using for loop
#        get each letter
#        whenever that letter equal to a
#        count=count+1

s1='hello how are you i am good'
count=0
for i in s1:
    if i=='o':
        count=count+1
        
print("the total number of 'o' are:", count)

the total number of 'o' are: 5

In [56]:
# wap find the indexes of 'a' present in giving string
# s1='hello how are you i am good'
# ans:10,20

# idea: iterate the loop using range
#       automaticall i becomes number
#       condition
#       print only i

In [57]:
s1='hello how are you i am good'
for i in range(len(s1)):
    if s1[i]=='a':
        print(i)
        
print("the total number of 'a' are:", count)

10
20
the total number of 'a' are: 5

In [58]:
# wap ask the user find the number vowels in a given string
# s2='hello how are you'

s2='hello how are you'
count=0
for i in range(len(s2)):
    if s2[i]=='aeiou':
        count=count+1
    
print("the number pf vowels are:" , count)

the number pf vowels are: 0

In [59]:
# in the above problem vowels are reporting
# you need to print only single vowel
s1='abca'
s2=' '
for i in s1:
    if i in 'aeiou':
        if i not in s2:
            s2=s2+i
            
print(len(s2))

2

In [60]:
s1='abca'
s2=''
for i in s1:
    if i in 'aeiou':
        if i not in s2:
            s2=s2+i
        
print(len(s2))

1

$mutable-immutable$

In [61]:
s1='hello'

# can we change 'l' to 'L'
# s1 ='hello'
# will you achive this by using index operation

In [62]:
s1='hello'
s1[1]='L'

TypeError: 'str' object does not support item assignment

Note
 - string are immutable

In [63]:
l1=[1,2,3]
l

NameError: name 'l' is not defined

In [64]:
# task is implement the same
# 1) positive index
# 2) negative index
# 3) pos and neg together
# using while loop

In [65]:
s4='hyderabad'
n=len(s4)
i=0
while i< n:
    print(f"the positive index of {s4[i]} is {i}")
    i= i+1

the positive index of h is 0
the positive index of y is 1
the positive index of d is 2
the positive index of e is 3
the positive index of r is 4
the positive index of a is 5
the positive index of b is 6
the positive index of a is 7
the positive index of d is 8

In [66]:
s4='hyderabad'
n=len(s4)
i=0
while i<n:
    print(f"the negative index of {s4[i]} is {i-n}")
    i= i+1

the negative index of h is -9
the negative index of y is -8
the negative index of d is -7
the negative index of e is -6
the negative index of r is -5
the negative index of a is -4
the negative index of b is -3
the negative index of a is -2
the negative index of d is -1

In [67]:
s4='hyderabad'
n=len(s4)
i=0
while i<n:
    print(f"{s4[i]} = positive index is {i} and negative index is {i-n}")
    i= i+1

h = positive index is 0 and negative index is -9
y = positive index is 1 and negative index is -8
d = positive index is 2 and negative index is -7
e = positive index is 3 and negative index is -6
r = positive index is 4 and negative index is -5
a = positive index is 5 and negative index is -4
b = positive index is 6 and negative index is -3
a = positive index is 7 and negative index is -2
d = positive index is 8 and negative index is -1

In [68]:
s5='gaurav'
n=len(s5)
for i in range(n):
    print(f" the positive index of {s5[i]} is {i}")

 the positive index of g is 0
 the positive index of a is 1
 the positive index of u is 2
 the positive index of r is 3
 the positive index of a is 4
 the positive index of v is 5

In [69]:
string4='gaurav'
n=len(string4)
for i in range(-n,0):
    print(f"the negative index of {string4[i]} is {i}")

the negative index of g is -6
the negative index of a is -5
the negative index of u is -4
the negative index of r is -3
the negative index of a is -2
the negative index of v is -1

In [70]:
string5='gaurav'
n=len(string5)
for i in range(n):
    print(f"{string5[i]} = positive index is {i} and negative index is {i-n}")
    i=i+1

g = positive index is 0 and negative index is -6
a = positive index is 1 and negative index is -5
u = positive index is 2 and negative index is -4
r = positive index is 3 and negative index is -3
a = positive index is 4 and negative index is -2
v = positive index is 5 and negative index is -1

In [71]:
str1='gaurav'

$slice$

In [72]:
s1='hello how are you'

In [73]:
-17 -16 -15 -14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
  h   e   l   l   o       h   o   w       a   r   e       y   o   u
  0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16

IndentationError: unexpected indent (3127825736.py, line 2)

In [74]:
s1[11:-11:-1] # ans there
s1[11:-3:-1]  # no answer
s1[11:-11:1]  # no answer

''

In [75]:
s1[3:-14:2]    # 
s1[3:14:2]     #
s1[-3:-14:-2]  #
s1[-3:14:2]    #
s1[-3:-14:2]   #
s1[3:14:-2]    #
s1[3:-14]      #
s1[3:-14:-1]   #

s1[:]          #
s1[::1]        #
s1[::]         #
s1[::-1]       #

'uoy era woh olleh'

$string$ $methods$

In [76]:
s1='python'
# we stored 'python' in a variable s1
# s1 act as package
# every packages has some methodes
# dir(packages)
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$capatalize$

In [77]:
s1='python'
# s1 act as package
# capatalize act as method
# help(<package>.<methode_name>)
# help.(s1 capatalize)
s1.capitalize()

'Python'

In [78]:
# keywords     vs     methods
len(s1)            capitalize(s1)
max(s1)
min(s1) 

s1.capitalize()
# keywords belongs to entire python
# methods are related to only

SyntaxError: invalid syntax (2164146861.py, line 2)

$upper-lower-casefold$

In [79]:
s1.upper()

'PYTHON'

In [80]:
s1.lower()

'python'

In [81]:
s1='pyTHON'
s1.casefold()

'python'

$Count$

In [82]:
s1='hai hai hai'
count=0
for i in s1:
    if i=='a':
        count=count+1
count

3

In [83]:
s1='ola ola ola'
s1.count('ola')
s1.count('ola ')
s1.count(s1)

1

In [84]:
s1.count('o')

3

In [85]:
s1.count('oa')

0

$replace$

In [86]:
s1='wellcome'
s1.replace('w','W')
s1.replace('e','E')

'wEllcomE'

In [87]:
s1='Wellllcome'
s1.replace('l','L',2) # shift + tab

#whenever slash symbol is there
# dont give the argument name

'WeLLllcome'

In [88]:
import random
random.randint(a=20,b=30)

20

In [2]:
s1='wellllcome'
s1.replace('e','L') # no error
s1.

SyntaxError: invalid syntax (270221063.py, line 3)

In [90]:
s1='restart'
str1=s1[0]
str2=s1[1:].replace('r','$')
print(str1+str2)

resta$t

In [91]:
s1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [ ]:
if <>:
    pass

In [3]:
str1='welcome'
str1.replace('l','L')

'weLcome'

$index$

In [4]:
str1='python'
str1.index('y')

1

In [6]:
str2='hai hai hai'
i1=str2.index('a') # first position: 1
i2=str2.index('a',2) # second-a: already 1 a is over,
i3=str2.index('a',6)

i1,i2,i3

# Q1) what is the meaning of index:
# ans:      0 h
# Q2) what is the index method will do:
# ans:     it will find the position

(1, 5, 9)

In [ ]:
# when i, asking you second 'a'
# we started seeing after first 'a'
#

In [9]:
str2='hai hai hai hai'
i1=str2.index('a') 
i2=str2.index('a',i1+1)
i3=str2.index('a',i2+1)
i4=str2.index('a',i3+1)
i1,i2,i3,i4

(1, 5, 9, 13)

In [12]:
for i in range(len(str2)):
    if str2[i]=='a'
        print(i)

SyntaxError: expected ':' (2501772627.py, line 2)

**if substring not fount**

- replace : same string
- count : 0
- index : error

$find$

In [17]:
str2='hai hai hai hai'
str2.index('a',3,8)
str2.find('a',14)

-1

In [18]:
str2='hai hai hai hai'
i1=str2.find('a') 
i2=str2.find('a',i1+1)
i3=str2.find('a',i2+1)
i4=str2.find('a',i3+1)
i5=str2.find('a',i4+1)
i1,i2,i3,i4

(1, 5, 9, 13)

**if substring not fount**

- replace : same string
- count : 0
- index : error
- find : -1

In [ ]:
s1='omkar.nallagoni@cognizant.com'
# first name='omkar'
# sur name ='nallagoni'
# c name = 'cognizant'

s2='virat.k0hli@rcb.com'
s3='rohit.sharma@mi.com'
s4='lokesh.rahul@lsg.com'
s5='a.b@c'

# idea-1 extract .index s1[0:,.index>]
# idea-2 extract  @index  s1[.:@]
# idea-3 extract second .index s1[@:.]

In [21]:
str2='omkar.nallagoni@cognizant.com'
i1=str2.index('0,4') 
i2=str2.index('6,14')
i3=str2.index('16,24')
i1,i2,i3

ValueError: substring not found

In [22]:

s1 = 'omkar.nallagoni@cognizant.com'

def extract_info(email):
    parts = email.split('@')
    if len(parts) != 2:
        return None, None, None
    name_part = parts[0]
    domain_part = parts[1]

    name_parts = name_part.split('.')
    if len(name_parts) < 2:
        return None, None, None

    first_name = name_parts[0]
    surname = '.'.join(name_parts[1:])
    company_name = domain_part.split('.')[0]

    return first_name, surname, company_name

for email in [s1]:
    first_name, surname, company_name = extract_info(email)
    print("Email:", email)
    print("First Name:", first_name)
    print("Surname:", surname)
    print("Company Name:", company_name)
    print()

Email: omkar.nallagoni@cognizant.com
First Name: omkar
Surname: nallagoni
Company Name: cognizant

In [30]:
s1='omkar.nallagoni@cognizant.com'

i1=s1.index('.')
i2=s1.index('@')
i3=s1.index('.',i1+1)
fname=s1[:i1]
sname=s1[i1+1:i2]
cname=s1[i2+1:i3]
fname,sname,cname

('omkar', 'nallagoni', 'cognizant')

In [31]:
s2='virat.k0hli@rcb.com'
i1=s2.index('.')
i2=s2.index('@')
i3=s2.index('.',i1+1)
fname=s2[:i1]
sname=s2[i1+1:i2]
cname=s2[i2+1:i3]
fname,sname,cname

('virat', 'k0hli', 'rcb')

$lstrip-rstrip-strip$

In [35]:
str1=' python '
str2=' python'
str3='python '

In [36]:
str1.strip(),str1.lstrip(),str1.rstrip()

('python', 'python ', ' python')

In [38]:
str2.strip(),str2.rstrip(),str2.lstrip()

('python', ' python', 'python')

In [39]:
str2='@@@@python@@@'
str2.strip('@')

'python'

In [44]:
str3='@@@@python$$$'
str3.strip('@,$')

'python'

In [11]:
str1='hello /r/r/r/n/ how are you'
str1.removesuffix (' /r/r/r/n/')

'hello /r/r/r/n/ how are you'

$Startswitch-endswitch$

In [51]:
s1='hai how are you'
s1.startswith('hai')

True

In [52]:
s1.startswith(s1)

True

In [53]:
s1='hai how are you'
s1.endswith('you')
s1.endswith(s1)

True

$split$

In [54]:
s1='hai how are you'
s1.split()

['hai', 'how', 'are', 'you']

In [56]:
s1='hai how,are you'
s1.split(',')

['hai how', 'are you']

In [57]:
s3='hai how are you'
s3.split('a')

['h', 'i how ', 're you']

In [59]:
dir.

SyntaxError: invalid syntax (1206592075.py, line 1)

In [60]:
s1='alks'
s1.isalpha()

True

In [61]:
s2='fbmh124'
s2.isalnum()

True

In [64]:
s3='123@'
s3.isascii()

True

In [88]:
s4='354'
s4.isdecimal()

True

In [71]:
s5='124'
s5.isdigit()

True

In [72]:
s6='fbmh124'
s6.isidentifier()

True

In [85]:
s7='fmh124'
s7.islower()

True

In [87]:
s8='12+JH'
s8.isnumeric()

False

In [77]:
s9='fbmh124'
s9.isprintable()

True

In [84]:
s2=' '
s2.isspace()

True

In [81]:
s3='Super'
s3.istitle()

True

In [83]:
s2='NMHVNGC'
s2.isupper()

True

In [25]:
str1='vitthal teli am i'
str1.maketrans('')

TypeError: if you give only one argument to maketrans it must be a dict

In [ ]:
-16 -15 -14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3    -2    -1  

 1   2   3   4   5   A   B   C    D   E  100 200 300 400  Apple Banana
    
 0   2   3   4   5   6   7   8    9   10  11  12  13  14   15     16

In [5]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana']

In [6]:
list1[3:14:2]

[4, 'A', 'C', 'E', 200, 400]

In [7]:
list1[3:14:-2]

[]

In [8]:
list1[3:-14:2]

[]

In [9]:
list1[3:-14:-2]

[4]

In [10]:
list1[-3:-14:-2]

[400, 200, 'E', 'C', 'A', 4]

In [11]:
list1[-3:14:2]

[400]

In [12]:
list1[-3:-14:2]

[]

In [13]:
list1[::]

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E', 100, 200, 300, 400, 'Apple', 'Banana']

In [14]:
list1[::-1]

['Banana', 'Apple', 400, 300, 200, 100, 'E', 'D', 'C', 'B', 'A', 5, 4, 3, 2, 1]

In [ ]:
Q10 find the number of lines