- how to read
- how many ways we can represent
- type
- len
- max
- sorted
- reversed
- concatenation
- in 
- index
- for loopiteration
- mutable-immutable
- slice
- methods

In [17]:
str1=''

In [68]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [19]:
type(l1)

list

In [22]:
l3 =['Apple','Banana','Cherry']
l3

['Apple', 'Banana', 'Cherry']

In [23]:
l4=[1,2,3,'A','B','C',10.5,True,10+20j]
l4

[1, 2, 3, 'A', 'B', 'C', 10.5, True, (10+20j)]

In [24]:
l5=[100,200,300]
l5

[100, 200, 300]

In [26]:
l6=[1,2,3,['A','B','C']]
l6

[1, 2, 3, ['A', 'B', 'C']]

In [ ]:
l1=[1,2,3,4]
l3 =['Apple','Banana','Cherry']
l4=[1,2,3,'A','B','C',10.5,True,10+20j]
l5=[100,200,300]
l6=[1,2,3,['A','B','C']]

In [40]:
l7=['%', '@']
l7

['%', '@']

In [ ]:


- Heteregeneous
- list allows duplicates
- list can extend with any values
- list in list possible
- list of underscore , is nothing but list in list

In [32]:
len(l1),max(l1),min(l1),sum(l1)

(4, 4, 1, 10)

In [33]:
len(l3),max(l3),min(l3),sum(l3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
len(l4),max(l4),min(l4),sum(l4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [35]:
len(l5),max(l5),min(l5),sum(l5)

(3, 300, 100, 600)

In [36]:
len(l6),max(l6),min(l6),sum(l6)

TypeError: '>' not supported between instances of 'list' and 'int'

In [39]:
len(l7),max(l7),min(l7),sum(l7)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
sorted(l1)

[1, 2, 3, 4]

In [42]:
sorted(l3)

['Apple', 'Banana', 'Cherry']

In [43]:
sorted(l4)

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
sorted(l5)

[100, 200, 300]

In [61]:
sorted(l6)

TypeError: '<' not supported between instances of 'list' and 'int'

In [47]:
sorted(l1,reverse=True)

[4, 3, 2, 1]

In [49]:
sorted(l3,reverse=True)

['Cherry', 'Banana', 'Apple']

In [60]:
sorted(l4,reverse=True)

TypeError: '<' not supported between instances of 'bool' and 'complex'

In [51]:
sorted(l5,reverse=True)

[300, 200, 100]

In [59]:
sorted(l6,reverse=True)

TypeError: '<' not supported between instances of 'int' and 'list'

In [53]:
sorted(l7,reverse=True)

['@', '%']

In [64]:
l5

[100, 200, 300]

In [70]:
val=reversed(l1)

In [71]:
for i in val:
    print(i)

4
3
2
1

In [72]:
val=reversed(l3)

In [73]:
for i in val:
    print(i)

Cherry
Banana
Apple

In [74]:
val=reversed(l4)

In [75]:
for i in val:
    print(i)

(10+20j)
True
10.5
C
B
A
3
2
1

In [76]:
val=reversed(l5)

In [77]:
for i in val:
    print(i)

300
200
100

In [78]:
val=reversed(l6)

In [79]:
for i in val:
    print(i)

['A', 'B', 'C']
3
2
1

$Concatination$

In [80]:
l1

[1, 2, 3, 4]

In [81]:
l3

['Apple', 'Banana', 'Cherry']

In [82]:
l4

[1, 2, 3, 'A', 'B', 'C', 10.5, True, (10+20j)]

In [84]:
l1+l3

[1, 2, 3, 4, 'Apple', 'Banana', 'Cherry']

In [85]:
l3+l1

['Apple', 'Banana', 'Cherry', 1, 2, 3, 4]

In [86]:
l1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

$in$

In [92]:
s1 ='python'
for i in s1:
    print(i)

p
y
t
h
o
n

In [93]:
for i in l1:
    print(i)

1
2
3
4

In [94]:
for i in l3:
    print(i)

Apple
Banana
Cherry

In [95]:
for i in l4:
    print(i)

1
2
3
A
B
C
10.5
True
(10+20j)

In [96]:
for i in l5:
    print(i)

100
200
300

In [97]:
for i in l6:
    print(i)

1
2
3
['A', 'B', 'C']

In [98]:
for i in l7:
    print(i)

%
@

$index$

In [103]:
l1[0],l1[1],l1[2]

(1, 2, 3)

In [105]:
l3[0],l3[1],l3[2]

('Apple', 'Banana', 'Cherry')

In [109]:
l4[0],l4[1],l4[2],l4[3],l4[4],l4[5]

(1, 2, 3, 'A', 'B', 'C')

In [107]:
l5[0],l5[1],l5[2]

(100, 200, 300)

In [108]:
l6[0],l6[1],l6[2]

(1, 2, 3)

In [113]:
for i in range(len(l3)):
    print(i,l3[i])

0 Apple
1 Banana
2 Cherry

In [114]:
for i in range(len(l1)):
    print(i,l1[i])

0 1
1 2
2 3
3 4

In [115]:
for i in range(len(l4)):
    print(i,l4[i])

0 1
1 2
2 3
3 A
4 B
5 C
6 10.5
7 True
8 (10+20j)

In [116]:
for i in range(len(l5)):
    print(i,l5[i])

0 100
1 200
2 300

In [117]:
for i in range(len(l6)):
    print(i,l6[i])

0 1
1 2
2 3
3 ['A', 'B', 'C']

In [144]:
for i in range(len(l3)):
    print(i-3,l3[i])
    i=i+1

-3 Apple
-2 Banana
-1 Cherry

In [143]:
for i in range(len(l1)):
    print(i-4,l1[i])
    i=i+1

-4 1
-3 2
-2 3
-1 4

In [142]:
for i in range(len(l4)):
    print(i-9,l4[i])
    i=i+1

-9 1
-8 2
-7 3
-6 A
-5 B
-4 C
-3 10.5
-2 True
-1 (10+20j)

In [141]:
for i in range(len(l5)):
    print(i-3,l5[i])

-3 100
-2 200
-1 300

In [139]:
for i in range(len(l6)):
    print(i-4,l6[i])
    i=i+1

-4 1
-3 2
-2 3
-1 ['A', 'B', 'C']

In [135]:
for i in range(len(l3)):
    print(i-3,i,l3[i])
    i=i+1

-3 0 Apple
-2 1 Banana
-1 2 Cherry

In [147]:
for i in range(len(l1)):
    print(i-3,i,'=',l1[i])
    i=i+1

-3 0 = 1
-2 1 = 2
-1 2 = 3
0 3 = 4

In [149]:
for i in range(len(l4)):
    print(i-9,i,'=',l4[i])
    i=i+1

-9 0 = 1
-8 1 = 2
-7 2 = 3
-6 3 = A
-5 4 = B
-4 5 = C
-3 6 = 10.5
-2 7 = True
-1 8 = (10+20j)

$mutable-immutable$

In [3]:
list1=[1,2,3,['A','B']]
o1=list1[3]
o1[1]

list1[3][1]

'B'

In [10]:
list2=[['Apple','Banana']]
len(list2)  # 1 mean only 0
list2[0]    # 2  0,1
list2[0][0],list2[0][1]

('Apple', 'Banana')

In [16]:
list3=[['A','B',[1,20]]]
len(list3)
list3[0]
list3[0][2]

[1, 20]

In [25]:
list4=['hyderabad',['A','B',[1,20]]]
len(list4)
list4[0]
list4[1][2][1]

20

In [26]:
list5=[['car']]
list5[0][0]

'car'

In [27]:
list6=[[['bus']]]
list6[0][0][0]

'bus'

In [32]:
list7=[[[[[[[['cherry',['Apple']]]]]]]]]
len(list7)
list7[0][0][0][0][0][0][0][1][0]

'Apple'

In [38]:

l1=['hyd','mumbai','bhopal','chennei']
for i in l1:
    if len(i)>5:
        print(i)

mumbai
bhopal
chennei

In [41]:
l1=['hyd','mumbai','bhopal','chennei']
for i in l1:
    print(i.upper())

HYD
MUMBAI
BHOPAL
CHENNEI

In [49]:
l1=['hyd','mu#mbai','bh#opal','chennei']
for i in l1:
    if '#' not in i:
        print(i)

hyd
chennei

In [59]:
str1='hello my name is python'
l1=str1.split()
max(l1,key=len),min(l1,key=len)

('python', 'my')

$iterable$

 - if you able to print char or elements using for loop
 - list,string,tuple,dic

In [79]:
question=['who is PM of india?',
          'what is capital of india?',
          'no. of state in india?',
          'who is the captain of ict']

answer=['modi','New delhi',29,'rohit sharma']
          
questionsanswer== input('question, answer')

def get_answer(question):
    return questionsanswer.get(question, "Answer not found")

question = print('who is PM of india?')
print("Answer:", get_answer(question))
question =print('what is capital of india?')
print("Answer:", get_answer(question))
question =print('no. of state in india?')
print("Answer:", get_answer(question))
question =print('who is the captain of ict')
print("Answer:", get_answer(question))

NameError: name 'questionsanswer' is not defined

In [84]:
ques_list=['who is PM of india?',
          'what is capital of india?',
          'no. of state in india?',
          'who is the captain of ict']

ans_list=['modi','New delhi','29','rohit sharma']

marks=0
for i in range(len(ques_list)):
    print(ques_list[i])
    answer=input("enter the answer: ")
    if answer.casefold()==ans_list[i].casefold():
        marks=marks+1
        
marks

who is PM of india?
enter the answer: modi
what is capital of india?
enter the answer: new dwlhi
no. of state in india?
enter the answer: 25
who is the captain of ict
enter the answer: rohit sharma

2

$Methods$

In [2]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

In [5]:
list1=[1,2,3,4]

$Clear$

In [6]:
list1.clear()
list1

[]

$copy$

In [ ]:
# Initialise the list l1
# l2=l1.copy()
# l1.clear()
# print(l1),print(l2)

In [7]:
l1=['A','B','C']
l2=l1.copy()
l1.clear()
l1,l2

([], ['A', 'B', 'C'])

$pop$-$remove$-$del$

In [8]:
l1=['A','B','C',1,2,3]
l1

['A', 'B', 'C', 1, 2, 3]

In [9]:
l1.pop()

3

In [10]:
l1

['A', 'B', 'C', 1, 2]

In [11]:
l1=['A','B','C',1,2,3,100]
l1.pop()

100

In [12]:
l1

['A', 'B', 'C', 1, 2, 3]

In [15]:
l1=['A','B','C',1,2,3,100]
l1.pop(index=0)
l1

TypeError: list.pop() takes no keyword arguments

In [ ]:
l1.pop()         # remove the last value index= -1
l1.pop(0)        # remove first element
l1.pop(index=0)  # index=0 error
l1.pop(100)      # if 100th index not there: Index error
l1.pop('A')      # type error 
l1.pop([1,2])    # type error

In [17]:
l1=['A','B','C',1,2,3,100]
l1.pop(100)           # 100 consider as index it check for the value which is having index

IndexError: pop index out of range

In [18]:
l1=['A','B','C',1,2,3,100]
l1.pop(-2)

3

In [19]:
l1

['A', 'B', 'C', 1, 2, 100]

In [20]:
l1[4]

2

In [21]:
l1

['A', 'B', 'C', 1, 2, 100]

In [22]:
l1=['A','B','C',1,2,3,100]
l1.pop([1,2])

TypeError: 'list' object cannot be interpreted as an integer

In [29]:
l1=['A','A','C',1,2,3,100]
l1.remove('A') 
l1

['A', 'C', 1, 2, 3, 100]

$index$

In [34]:
l1=['A','B','C',1,2,3,100,200,300,400,500,'Apple']
#l1.pop(5)
i=l1.index(400)
l1.pop(i)
l1

['A', 'B', 'C', 1, 2, 3, 100, 200, 300, 500, 'Apple']

In [41]:
l1=['A','B','C',1,2,3,100,200,300,'A',400,500,'A','Apple']
#l1.pop(<second A>)
i1=l1.index('A')
i2=l1.index('A',i1+1)
i3=l1.index('A',i2+1)
print(i1,i2,i3)

0 9 12

In [43]:
l1=['A','B','C',1,2,'B',3,100,200,300,'A',400,500,'A','Apple']
del(l1[5])
l1

['A', 'B', 'C', 1, 2, 3, 100, 200, 300, 'A', 400, 500, 'A', 'Apple']

$Append$-$Extend$-$Insert$

In [45]:
l1=[100,200]
l1.append(300)
l1.append('apple')
l1

[100, 200, 300, 'apple']

In [46]:
l1=['hyd','mumbai','chennai']
l2=[]
for i in l1:
    if len(i)>3:
        l2.append(i)
l2

['mumbai', 'chennai']

In [57]:
l1 = ['hyd', 'mumbai', 'chennai']
l1_upper = []
for i in l1:
    l1_upper.append(i.upper())
print(l1_upper)

['HYD', 'MUMBAI', 'CHENNAI']

In [59]:
l1 = ['hyd', 'mu#mbai', 'che#nnai']
l2 = []

for i in l1:
    city_without_hash = i.replace('#', '')  # Remove '#' character
    l2.append(city_without_hash)  # Append modified city to new list

print(l2)

['hyd', 'mumbai', 'chennai']

In [60]:
l1 = ['hyd', 'mu#mbai', 'che#nnai']
l2 = []
for i in l1:
    if '#' in i:
        l2.append(i)
l2

['mu#mbai', 'che#nnai']

In [64]:
s='hello hai how are you'
l1=[]
for i in range(len(s)):
        if s[i]=='a':
            l1.append(i)
sum(l1)

21

In [ ]:
import random
user=random.randint(0,10)
i=0
for i in user(10,2,2):
    print

In [66]:
import random
odd_list,even_list=[],[]
for _ in range(10):
    num = random.randint(1, 100)  
    if num % 2 == 0:
        even_list.append(num)  
    else:
        odd_list.append(num)  

print("Random odd numbers:", odd_list)
print("Random even numbers:", even_list)

Random odd numbers: [43, 45, 23, 69, 57]
Random even numbers: [52, 20, 72, 86, 6]

$Extend$

In [72]:
l1=[1,2,3]
l2=['A','B','C']
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 'A', 'B', 'C']
['A', 'B', 'C']

In [75]:
l1=[1,2,3]
l2=['A','B','C']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3]
['A', 'B', 'C', 1, 2, 3]

In [74]:
l1+l2
print(l1+l2)

['A', 'B', 'C', 1, 2, 3, 1, 2, 3]

In [ ]:
l1=[1,2,3]
l2=['A','B','C']

- reverse vs reversed
- sort    vs sorted
- lambda

In [81]:
# Reverse :
l1 = [1, 2, 3, 4, 5]
l1.reverse()  
for i in l1:
    print(i)

5
4
3
2
1

In [79]:
# Reversed :
l2 = [1, 2, 3, 4, 5]
for i in reversed(l2):
    print(i)

5
4
3
2
1

In [84]:
# Sort :
l1 = [1, 3, 5, 4, 2]
l1.sort()  
for i in l1:
    print(i)

1
2
3
4
5

In [85]:
# sorted :
l2 = [1, 3, 5, 4, 2]
list = sorted(l2)  
for i in list:
    print(i)

1
2
3
4
5

$count$

In [1]:
l1=['A','A','A']
l1.count('A')

3

In [2]:
l2='can can you canner can not can you buy can'
l2.count('can')

5

$word-frequency$

In [4]:
s1='can can you canner can not can you buy can'
list_words=s1.split()
l1=[]
for word in list_words:
    if word not in l1:  
        print(word,list_words.count(word))
        l1.append(word)
        
# step
# can     can not in []       True 5 ['can']
# can     can not in ['can']  False  xxxxx
# you     you not in ['can']  True 2['can','you']

can 5
you 2
canner 1
not 1
buy 1

$insert$

In [6]:
l1=[1,2,3,4,100]
l1.insert(3,'A')
l1

[1, 2, 3, 'A', 4, 100]

In [10]:
l1=[1,2,3,4,100]
l1.remove(100)
l1.insert(3,'A')
l1

[1, 2, 3, 'A', 4]

In [12]:
l1=['hyd','mumbai','chennai','bengaluru']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)

In [13]:
num=[]
for i in range(1,11):
    num.append(i*i)
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

$list$-$comprehension$

$pattern-1$

In [14]:
num=[]
for i in range(1,11):
    num.append(i*i)
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
num=[i*i for i in range(1,11)]
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
l1=['hyd','mumbai']
l2=[]
num=[i.capitalize() for i in l1]
num

['Hyd', 'Mumbai']

$pattern-2$

$for$ $and$ $if$ $condition$

In [22]:
l1=['hyd','mumbai','chennai','bengaluru']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)

In [23]:
l1=['hyd','mumbai','chennai','bengaluru']
l2=[i for i in l1 if len(i)>5 ]
l2

['mumbai', 'chennai', 'bengaluru']

$pattern-3$

**for-if-else**

In [ ]:
l=[]
for i in range(1,10):
    if i%2==0:

In [27]:
l1=[f'even {i}' if i%2==0 else f'odd {i}' for i in range(1,10)]
l1

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']